(
    enter: Some("enter"),
    alt: Some("alt"),
    backspace: Some("bs"),
    tab: Some("tab"),
    esc: Some("esc"),
    back_tab: Some("stab"),
    shift: Some("shift-"),
    up: Some("^"),
    down: Some("v"),
    right: Some(">")
)
